*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #000000;
    color: rgb(0, 0, 0);
}

header h1 {
    text-align: center;
    font-size: 37px;
    color: white;
}

header {
    padding: 30px;
    background-color: #0b0d10;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container{
    padding: 10px 7%;
}

nav {
    background-color: #000000;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: rgb(255, 255, 255);
}

.logo{
    width: 125px;
    float: left;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #1d62da;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}









.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.about-col-2 img{
    width: 35%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #000000;
}











main {
    background-color: #ffffff;
    text-align: center;
}

h2 {
    padding: 20px;
}

section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

section {
    min-height: 100vh;
}

video {
    padding: 10px;
}

iframe {
    height: 75vh;
}

img {
    padding: 10px;
}

section h5 {
    margin: 40px;
}

footer {
    background-color: #333;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}







/* Login */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 2rem;
    border: 1px solid #0d1117;
    border-radius: 5px;
    margin-bottom: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

.message {
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: center;
}

form button {
    background: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background: #3e8e41;
}





.quote {
    border-left: 3px solid #333;
    padding-left: 10px;
    font-style: italic;
    margin: 10px 0;
}

.quote cite {
    display: block;
    margin-top: 5px;
    font-size: 14px;
}





/* CSS styles for the login form */
.login-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}




/* CSS styles for the signup form */
form.signup-form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}