{% extends 'expenses/index.html' %}
{% load static %}
{% block main %}
<main>
    <section id="ngo-list">
        <h2>List of NGOs You Can Donate to</h2>
        <ul>
        <li>
            <div class="ngo-info">
            <h3>Akshaya Patra Foundation</h3>
            <p>The Akshaya Patra Foundation aims to eliminate hunger and promote education by providing nutritious meals to school children. Their goal is to ensure that no child misses out on education due to hunger.</p>
            <br>
            <a href="https://www.akshayapatra.org/" target="_blank" >Link to Site</a>
            <br><br>
            <a href="#" class="donate-link">Donate</a>
            </div>
        </li>
        <li>
            <div class="ngo-info">
            <h3>HelpAge India</h3>
            <p>HelpAge India works towards improving the quality of life for senior citizens in India. Their goal is to provide healthcare, livelihood support, and social inclusion for the elderly, with a focus on advocating their rights and dignity.</p>
            <br>
            <a href="https://www.helpageindia.org/" target="_blank" >Link to Site</a>
            <br><br>
            <a href="#" class="donate-link">Donate</a>
            </div>
        </li>
        <li>
            <div class="ngo-info">
            <h3>Goonj</h3>
            <p>Goonj focuses on addressing the basic needs of underprivileged communities in rural and urban areas. Their goal is to create a parallel economy by utilizing underutilized resources and channeling them to support community development.</p>
            <br>
            <a href="https://goonj.org/" target="_blank" >Link to Site</a>
            <br><br>
            <a href="#" class="donate-link">Donate</a>
            </div>
        </li>
        <li>
            <div class="ngo-info">
            <h3>CRY-Child Rights and You</h3>
            <p>CRY works towards ensuring the fundamental rights of children in India. Their goal is to create lasting change by advocating for child rights, providing education, healthcare, and protection to children in need.</p>
            <br>
            <a href="https://www.cry.org/" target="_blank" >Link to Site</a>
            <br><br>
            <a href="#" class="donate-link">Donate</a>
            </div>
        </li>
        <li>
            <div class="ngo-info">
            <h3>Teach For India</h3>
            <p>Teach For India aims to provide quality education to all children, irrespective of their socio-economic backgrounds. Their goal is to bridge the educational gap by recruiting and training young leaders to teach in low-income schools and drive educational equity.</p>
            <br>
            <a href="https://www.teachforindia.org/" target="_blank" >Link to Site</a>
            <br><br>
            <a href="#" class="donate-link">Donate</a>
            </div>
        </li>
        <li>
            <div class="ngo-info">
            <h3>Smile Foundation</h3>
            <p>Smile Foundation focuses on improving the lives of underprivileged children, their families, and communities. Their goal is to provide education, healthcare, livelihood support, and empowerment programs to break the cycle of poverty and create sustainable change.</p>
            <br>
            <a href="https://www.smilefoundationindia.org/" target="_blank" >Link to Site</a>
            <br><br>
            <a href="#" class="donate-link">Donate</a>
            </div>
        </li>
        <li>
            <div class="ngo-info">
            <h3>GiveIndia</h3>
            <p>GiveIndia is a platform that connects donors with various NGOs across different causes. Their goal is to promote and facilitate a culture of giving, making it easy for individuals and organizations to contribute to charitable initiatives addressing various social issues.</p>
            <br>
            <a href="https://www.giveindia.org/" target="_blank" >Link to Site</a>
            <br><br>
            <a href="#" class="donate-link">Donate</a>
            </div>
        </li>
        <li>
            <div class="ngo-info">
            <h3>Pratham</h3>
            <p>Pratham is committed to improving the quality of education and literacy among children in India. Their goal is to provide innovative learning solutions, teacher training, and educational resources to ensure every child has access to quality education.</p>
            <br>
            <a href="https://www.pratham.org/" target="_blank" >Link to Site</a>
            <br><br>
            <a href="#" class="donate-link">Donate</a>
            </div>
        </li>
        <li>
            <div class="ngo-info">
            <h3>Save the Children India</h3>
            <p>Save the Children India focuses on the rights and well-being of children. Their goal is to ensure children have access to education, healthcare, protection from harm, and opportunities for a better future.</p>
            <br>
            <a href="https://www.savethechildren.in/" target="_blank" >Link to Site</a>
            <br><br>
            <a href="#" class="donate-link">Donate</a>
            </div>
        </li>
        <li>
            <div class="ngo-info">
            <h3>Wildlife SOS</h3>
            <p>Wildlife SOS is dedicated to wildlife conservation and protecting endangered species in India. Their goal is to rescue and rehabilitate wildlife, conserve habitats, and promote awareness about wildlife conservation and the importance of coexistence.</p>
            <br>
            <a href="https://wildlifesos.org/" target="_blank" >Link to Site</a>
            <br><br>
            <a href="#" class="donate-link">Donate</a>
            </div>
        </li>
        </ul>
    </section>
</main>
{% endblock %}