{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binaries_CodingGeeks</title>
    <link rel="stylesheet" href="{% static 'expenses/style.css' %}">
</head>
<body>


    <header>
        <div class="logo">
            <img src="{% static 'expenses/CodeGeeks_logo.png'%}" alt="CodeGeeks_logo" class="logo">
        </div>
        <h1>Wealthify</h1>
    </header>

    <nav>
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">SignUp</a></li>
            </ul>
        </div>
    </nav>
    {% block main %}
    <main>

        <div id="Home">

            <br><br>

            <div class="container">
                <div class="row">
                    <div class="about-col-1">
                        <h1 class="sub-title">Track</h1>
                        <div class="quote">
                            <blockquote>
                                Track your daily expenses easily through wealthify
                            </blockquote>
                        </div>
                    </div>
                    <div class="about-col-2">
                        <video src="{% static 'expenses/Track.mp4' %}" autoplay loop muted width="70%" height="auto" ></video>
                    </div>
                </div>
            </div>

            <br><br>

            <div class="container">
                <div class="row">
                    <div class="about-col-1">
                        <video src="{% static 'expenses/Analyze.mp4' %}" autoplay loop muted width="100%" height="auto" ></video>
                    </div>
                    <div class="about-col-2">
                        <h1 class="sub-title">Analyze</h1>
                        <div class="quote">
                            <blockquote>
                                Analyze your expenditures with intuitive graphs
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>

            <div class="container">
                <div class="row">
                    <div class="about-col-1">
                        <h1 class="sub-title">Save</h1>
                        <div class="quote">
                            <blockquote>
                                Set saving goals and track your progress
                            </blockquote>
                        </div>
                    </div>
                    <div class="about-col-2">
                        <video src="{% static 'expenses/Save.mp4' %}" autoplay loop muted width="70%" height="auto" ></video>
                    </div>
                </div>
            </div>

            <br><br>

            <div class="container">
                <div class="row">
                    <div class="about-col-1">
                        <video src="{% static 'expenses/Grow.mp4' %}" autoplay loop muted width="100%" height="auto" ></video>
                    </div>
                    <div class="about-col-2">
                        <h1 class="sub-title">Invest and Grow</h1>
                        <div class="quote">
                            <blockquote>
                                Get investing tips to grow your money
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>

            <div class="container">
                <div class="row">
                    <div class="about-col-1">
                        <h1 class="sub-title">Crowd Fund</h1>
                        <div class="quote">
                            <blockquote>
                                Allows you to crowdfund easily
                            </blockquote>
                        </div>
                    </div>
                    <div class="about-col-2">
                        <video src="{% static 'expenses/CrowdFund.mp4' %}" autoplay loop muted width="70%" height="auto" ></video>
                    </div>
                </div>
            </div>

            <br><br>

            <div class="container">
                <div class="row">
                    <div class="about-col-1">
                        <video src="{% static 'expenses/LeadGenerate.mp4' %}" autoplay loop muted width="150%" height="auto" ></video>
                    </div>
                    <div class="about-col-2">
                        <h1 class="sub-title">Generate Leads</h1>
                        <div class="quote">
                            <blockquote>
                                Helps to Generate leads transparently and grow your business
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>

            <div class="container">
                <div class="row">
                    <div class="about-col-1">
                        <h1 class="sub-title">Donate</h1>
                        <div class="quote">
                            <blockquote>
                                Helps you to Donate safely
                            </blockquote>
                        </div>
                    </div>
                    <div class="about-col-2">
                        <video src="{% static 'expenses/Donate.mp4' %}" autoplay loop muted width="100%" height="auto" ></video>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="about-col-1">
                        <video src="{% static 'expenses/PeaceOfMind.mp4' %}" autoplay loop muted width="100%" height="auto" ></video>
                    </div>
                    <div class="about-col-2">
                        <h1 class="sub-title">Peace Of Mind</h1>
                        <div class="quote">
                            <blockquote>
                                Get Peace of Mind
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>

        </div>

        <center>
            <form class="login-form" action="{% url 'signup' %}" target="_blank">
                <input type="submit" value="Click To Get Started">
            </form>
        </center>

        <br><br>

    </main>
    {% endblock %}
    <footer>
        <a>All rights reserved &copy; Binaries_CodingGeeks</a>
    </footer>

    <script src="{% static 'expenses/scriptmain.js' %}"></script>
</body>
</html>