{% extends 'expenses/index.html' %}
{% load static %}
{% block main %}
    <main>

        <center>
            <br>
            <video src="{% static 'expenses/Profile_login.mp4'%}" autoplay loop muted width="40%" height="auto" ></video>
        </center>


        <center>
            {% if message %}
                {{message}}
            {% endif %}
            <form class="login-form" action="{% url 'login' %}" method="post">
                {% csrf_token %}

                <pre><b>Username       </b><input type="text" name="username" required></pre>

                <pre><b>Password       </b><input type="password" name="password" required></pre><br>

                    <input type="submit" value="login">
            </form>
        </center>

        <br><br>

        <center>
            <form class="login-form" action="{% url 'signup' %}" target="_blank">
                <input type="submit" value="SignUp">
            </form>
        </center>

        <br><br><br><br>

</main>
{% endblock %}